body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 50px;
}


.orange{
    color: orange;
}

.linkButton{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(orange, tomato);
    padding: 10px;
    border-radius: 5px;

}

.flexibleContainer{
    display: flex;
    padding: 50px;
    margin-top: -75px;
}
.halfWidth{
    width: 50%;
}

.halfWidth img{
    width:80%;
    padding: none;
    
}

.topLeftImage{
    border-left: 3px solid;
    border-image: linear-gradient(orange, red);
    border-image-slice: 1;   
    padding-left: 3%;

    
}

.text-align-center{
    text-align: center;
}
.mission{
    background-color: lightblue;
    padding: 3%;
    margin: 1%;
    border-radius: 25px;
}

.vision{
    background-color: lightpink;
    padding: 3%;
    margin: 1%;
    border-radius: 25px;
}

.goals{
    background-color: lightyellow;
    padding: 3%;
    margin: 1%;
    border-radius: 25px;
}

.one-third-width{
    width: 30%;
    justify-content: left;
}

.one-third-width img{
    width: 50%;
}