body {
    font-family: 'Poppins', sans-serif;
    margin: 100px;
}

.top-section-withnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.top-section {
    display: flex;
}

.navbar-text {
    font-weight: 10000;
}

.menu-section a {
    text-decoration: none;
    color: #422C29;
    padding: 10px;
}

.button {
    background-color: #E02C6D;
    color: white;
    border: 0;
    border-radius: 10px;
    padding: 10px;
}

.button h4 {
    display: inline;
    padding-right: 5px;
}