body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

section {
    margin: 100px;
}

.top-section-withnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 100px;
}

.top-section a {
    text-decoration: none;
    color: white;
}

.top-section h1 {
    font-size: 75px;
    font-weight: 3000;
}

.top-section img:hover {
    transform: rotate(45deg);
    transition: 1s ease-out;
}

.navbar-text {
    font-weight: 10000;
}

.menu-section a {
    font-weight: 1000;
}

.menu-section a {
    text-decoration: none;
    color: #422C29;
    padding: 10px;
}

.img-section img {
    background-image: url(/images/Circle\ design.svg);
}

.fa-search {
    font-size: 25px;
}

.fa-cart-plus {
    font-size: 25px;
}

.button {
    background-color: #E02C6D;
    color: white;
    border: 0;
    border-radius: 10px;
    padding: 10px;
}

.button h4 {
    display: inline;
    padding-right: 5px;
}

.img-section {
    margin-left: auto;
}

.company-logo-section {
    width: 100%;
    height: auto;
    margin: auto;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 100px;
}

.company-logo-section-contents {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 1170px;
    height: auto;
    margin: 0 auto;
}

.products-section {
    margin-top: 100px;
    background-color: #F3F3F3;
}

.stars-with-points {
    display: flex;
    align-items: center;
    margin-top: -20px;
}

.stars-with-points h6 {
    margin-left: 10px;
}

.product-info {
    width: 196px;
    margin-top: -20px;
}

.stars {
    width: 122px;
    height: 32px;
    color: goldenrod;
}

.popular-title {
    text-align: center;
    font-size: 2em;
    font-weight: 1000;
}

.products-section {
    width: 100%;
    margin: 0 auto;
    background-color: white;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    width: 75%;
    margin: 0 auto;
    margin-top: 100px;
}

.article {
    border-radius: 5px;
    background-color: #FFFFFF;
    height: 476px;
    width: 329px;
    padding: 10px;
    margin: 0 auto;
}

.article:hover {
    transform: scale3d(1.03, 1.03, 1.03);
    transition: 1s ease;
}

.product {
    margin: 0 auto;
}

.see-more h5 {
    display: inline;
    font-weight: bold;
}

.see-more {
    float: right;
    color: #E02C6D;
    padding-right: 10px;
}

.see-more a {
    text-decoration: none;
    color: #E02C6D;
}

.bonus-section {
    /* border: 1px solid lightgray; */
    width: 75%;
    height: 500px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.bonus-section-txt {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
}

.bonus-section .button {
    width: 25%;
    margin-top: 25px;
}

.bonus-section .button a {
    text-decoration: none;
    color: white;
    text-align: center;
}

footer {
    background-color: black;
    width: 100%;
    height: auto;
    color: white;
    padding: 10px;
}

footer h1 {
    font-size: 40px;
}

.footer-contents {
    text-align: center;
}

.social-icons i {
    margin-left: 20px;
    padding-right: 20px;
}

@media (max-width: 550px) {
    .menu-section {
        display: none;
    }
    .top-section {
        display: block;
        margin: 0 auto;
        margin-bottom: 100px;
    }
    .top-section h1 {
        font-size: 25px;
        font-weight: 1000;
        display: flex;
        order: 2;
    }
    .top-section img {
        display: flex;
        order: 1;
    }
    .top-section img:hover {
        transform: rotate(45deg);
        transition: 1s ease-out;
    }
    .navbar-text {
        font-weight: 10000;
        text-align: center;
    }
    .menu-section a {
        font-weight: 1000;
    }
    .menu-section a {
        text-decoration: none;
        color: #422C29;
        padding: 10px;
    }
    .img-section img {
        background-image: url(/images/Circle\ design.svg);
    }
    .fa-search {
        font-size: 25px;
    }
    .fa-cart-plus {
        font-size: 25px;
    }
    .button {
        background-color: #E02C6D;
        color: white;
        border: 0;
        border-radius: 10px;
        padding: 10px;
    }
    .button h4 {
        display: inline;
        padding-right: 5px;
    }
    .img-section {
        margin-left: auto;
    }
    .company-logo-section {
        width: 100%;
        height: auto;
        margin: auto;
        justify-content: space-between;
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .company-logo-section-contents {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(2, 1fr);
        height: auto;
    }
    .products-section {
        margin-top: 100px;
        background-color: #F3F3F3;
    }
    .stars-with-points {
        display: flex;
        align-items: center;
        margin-top: -20px;
    }
    .stars-with-points h6 {
        margin-left: 10px;
    }
    .product-info {
        width: 196px;
        margin-top: -20px;
    }
    .stars {
        width: 122px;
        height: 32px;
        color: goldenrod;
    }
    .popular-title {
        text-align: center;
        font-size: 2em;
        font-weight: 1000;
    }
    .products-section {
        width: 100%;
        margin: 0 auto;
        background-color: white;
    }
    .products {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 10px;
        grid-column-gap: 10px;
        width: 75%;
        margin: 0 auto;
        margin-top: 100px;
    }
    .article {
        border-radius: 5px;
        background-color: #FFFFFF;
        height: 476px;
        width: 329px;
        padding: 10px;
        margin: 0 auto;
    }
    .article:hover {
        transform: scale3d(1.03, 1.03, 1.03);
        transition: 1s ease;
    }
    .product {
        margin: 0 auto;
    }
    .see-more h5 {
        display: inline;
        font-weight: bold;
    }
    .see-more {
        float: right;
        color: #E02C6D;
    }
    .see-more a {
        text-decoration: none;
        color: #E02C6D;
    }
    .bonus-section {
        /* border: 1px solid lightgray; */
        width: 75%;
        height: 500px;
        margin: 0 auto;
        margin-top: 100px;
        display: flex;
        justify-content: space-between;
    }
    .bonus-section-txt {
        margin-left: 100px;
        margin-right: 100px;
        margin-top: 100px;
    }
    .bonus-section .button {
        width: 25%;
        margin-top: 25px;
    }
    -section .bonus-section-txt .button a {
        text-decoration: unset;
        color: white;
    }
    footer {
        background-color: black;
        width: 100%;
        height: auto;
        color: white;
        padding: 10px;
    }
    footer h1 {
        font-size: 40px;
    }
    .footer-contents {
        text-align: center;
    }
    .social-icons i {
        margin-left: 20px;
        padding-right: 20px;
    }
}