body {
    font-family: 'Poppins', sans-serif;
    margin: 100px;
}

.top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-text {
    font-weight: 10000;
}

.menu-section a {
    text-decoration: none;
    color: #422C29;
    padding: 10px;
}